<ul class="result" th:each="movie : ${movieDetails}">
  <!-- poster or placeholder if no poster -->
  <a th:if="${movie.getPoster() != 'N/A'}" th:href="${movie.getImdbPage()}">
    <img class="poster" th:src="${movie.getPoster()}" alt="Movie Poster for ${movie.getTitle()}">
  </a>
  <img th:if="${movie.getPoster() == 'N/A'}" class="poster" src="https://dummyimage.com/300x425/555/fff.png&text=no+poster+found" alt="Placeholder poster">
  
  <li>

    <ul class="movie-details">

      <li class="detail">
        <div class="detail-category">Title</div>
        <!-- make title link to imdb page -->
        <div>
          <a th:href="${movie.getImdbPage()}"><span th:text="${movie.getTitle()}"></span></a>
        </div>
      </li>

      <li class="detail">
        <div class="detail-category">Year</div>
        <div th:text="${movie.getYear()}"></div>
      </li>
      
      <li class="detail">
        <div class="detail-category">Runtime</div>
        <div th:text="${movie.getRuntime()}"></div>
      </li>

      <li class="detail">
        <div class="detail-category">Actors</div>
        <div th:text="${movie.getActors()}"></div>
      </li>

      <li class="detail">
        <div class="detail-category">IMDb rating</div>
        <div th:text="${movie.getImdbRating()}"></div>
      </li>

      <li class="detail">
        <div class="detail-category">Plot</div>
        <div th:text="${movie.getPlot()}"></div>
      </li>
      
    </ul>

  </li>
</ul>